.project-image-box {
  height: 25vh;
  overflow: hidden;
  min-height: 135px;
}

.project-hover-effect {
  transition: transform 0.3s ease;
}

.project-hover-effect:hover {
  transform: scale(1.03);
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h6, .h6 {
  font-size: 1.1rem;
}

.copyright {
  left: 50%;
  transform: translateX(-50%);
}

ul {
  margin-bottom: 0px;
}

#theme-switcher {
  border-radius: 50%;
  bottom: 5%;
  right: 5%;
  transition: transform 0.3s ease;
}

#theme-switcher:hover {
  transform: scale(1.1);
}


/* Resume Formatting */

.resume {
  grid-template-columns: 1fr 1fr;
}

.resume-education {
  grid-column: 1;
  grid-row: 1;
}

.resume-experience {
  grid-column: 2;
  grid-row: span 5;
}

.resume-research {
  grid-column: 1;
  grid-row: 2;
}

.resume-awards {
  grid-column: 1;
  grid-row: 3;
}

.resume-skills {
  grid-column: 1;
  grid-row: 4;
}

@media (max-width: 1200px) {
  .resume {
    grid-template-columns: 1fr;
  }
  .resume-education {
    grid-column: 1;
    grid-row: 1;
  }
  
  .resume-experience {
    grid-column: 1;
    grid-row: 2;
  }
  
  .resume-research {
    grid-column: 1;
    grid-row: 3;
  }

  .resume-awards {
    grid-column: 1;
    grid-row: 4;
  }
  
  .resume-skills {
    grid-column: 1;
    grid-row: 5;
  }
}

