.project-image-box {
  height: 25vh;
  overflow: hidden;
  min-height: 135px;
}

.project-hover-effect {
  transition: transform 0.3s ease;
}

.project-hover-effect:hover {
  transform: scale(1.03);
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 350;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 350;
}

.copyright {
  left: 50%;
  transform: translateX(-50%);
}