<footer class="py-3 my-4 border-top">
    <div class="container justify-content-end align-items-center d-flex">
        <div class="text-center copyright position-absolute">
            <span class="mb-3 mb-md-0 text-body-secondary">Copyright © 2025 Andrew Petersen. All rights reserved.</span>
        </div>
        <div class="gap-2 ml-auto d-flex">
            <a href="https://www.linkedin.com/in/petersen-andrew/" class="bi bi-linkedin" target="_blank" rel="noopener noreferrer"></a>
            <a href="https://github.com/petersenandrew/" class="bi bi-github" target="_blank" rel="noopener noreferrer"></a>
        </div>
    </div>
</footer>